#content-box{
    .row
    {
       margin: 2rem 1px !important;
    }

    display: block;
    padding: 2rem 1rem;

    .mycard{
        padding: 1rem;
        margin: 0;
        color: #000 ;
        font-weight: bolder;
        border-radius: 5px;

    }
}
