/*@font-face
{
    font-family: iran;
    src: url('../font/IRANSansWeb-FaNum.woff') format('woff');
    font-weight: normal;
}
@font-face
{
    font-family: iran;
    src: url('../font/IRANSansWeb(FaNum)_Black.woff') format('woff');
    font-weight: bolder;
}
@font-face
{
    font-family: iran;
    src: url('../font/IRANSansWeb(FaNum)_Bold.woff') format('woff');
    font-weight: bold;
}
@font-face
{
    font-family: iran;
    src: url('../font/IRANSansWeb(FaNum)_Light.woff') format('woff');
    font-weight: lighter;
}
*/

@import 'variables';
@import 'mixins';
@import 'wizard';
@import 'tables';
@import 'modal';
@import 'ajax-content';
@import 'side-menu';
@import 'content-box';
@import 'content-box/dashboard-workshop.scss';



body,html{

    direction: rtl;
    font-family: iran;
    color:#666 ;
    background-color: #eee;
    text-align: right;
    height: 100vh ;
}



.inset {
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
                inset -5px -5px 5px rgba(255,255,255,.5);
}
.outset {
    box-shadow:  5px 5px 5px $shadow,
                 -5px -5px 5px rgba(255,255,255,.5) ;
}

.eng{
    text-align: left;
    direction: ltr;
    font-family: sans-serif;
}

form {

    padding:2rem ;
    input.inset {
        border: none ;
        outline: none ;
        background: none ;
        border-radius: 2rem;
        font-size: 1.1rem;
        padding: .5rem 1rem;
        display: block;
        width: 100%;
        color: #666;
        position: relative;

        &::placeholder {
            font-size: small;
            font-style: italic;
        }
        &.submit
        {
            @include btn($blue,#eee);
        }


        &:focus{
            background-color:rgba(#e8ffc1,0.5);
            border:none;
            outline: none;

        }


    }
}

.form-control{
    border-radius: 2rem;
    border:none;
    outline:none;
    background:none;
}

.form-group{
    position: relative;

    i#eye{
        color: grey;
        font-size: 1.1rem;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
    }
}

small.error{
    color:$red;
}

select.form-control{
    border:1px solid grey;
}

select.form-control:focus{
    outline: none;

}

div.wrapper{
    height: 100%;
    z-index: -2;
}

.center {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

i{
    margin-left: 1rem;
}

