/*@font-face
{
    font-family: iran;
    src: url('../font/IRANSansWeb-FaNum.woff') format('woff');
    font-weight: normal;
}
@font-face
{
    font-family: iran;
    src: url('../font/IRANSansWeb(FaNum)_Black.woff') format('woff');
    font-weight: bolder;
}
@font-face
{
    font-family: iran;
    src: url('../font/IRANSansWeb(FaNum)_Bold.woff') format('woff');
    font-weight: bold;
}
@font-face
{
    font-family: iran;
    src: url('../font/IRANSansWeb(FaNum)_Light.woff') format('woff');
    font-weight: lighter;
}
*/

@import 'variables';
@import 'mixins';
@import 'wizard';
@import 'tables';
@import 'modal';
@import 'ajax-content';
@import 'side-menu';
@import 'content-box';
@import 'content-box/dashboard-workshop.scss';
@import './insert-new-stuffpack-form';
@import './slider';


body,html{

    direction: rtl;
    font-family: iran;
    color:#666 ;
    background-color: #eee;
    text-align: right;
    height: 100vh ;
}



.inset {
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
                inset -5px -5px 5px rgba(255,255,255,1.0);
    border-radius: 2rem;
}
.outset {
    box-shadow:  5px 5px 5px $shadow,
                 -5px -5px 5px rgba(255,255,255,1.0) ;
    border-radius: 2rem;
    &.error{
                background-color: rgba($red,0.2);
    }
}

.eng{
    text-align: left;
    direction: ltr;
    font-family: sans-serif;
}



form {

    /* max-height: 60vh; */
    overflow-y: auto;
    padding:2rem ;

    input.inset,textarea.inset {
        border: none ;
        outline: none ;
        background: none ;
        border-radius: 2rem;
        font-size: 1.1rem;
        padding: .5rem 1rem;
        display: block;
        width: 100%;
        color: #666;
        position: relative;

        scrollbar-color: $blue;
        &::placeholder {
            font-size: small;
            font-style: italic;
            padding-right: 1rem;
        }
        &.submit
        {
            @include btn($blue,#eee);
        }


        &:focus{
            background-color:rgba(#e8ffc1,0.5);
            border:none;
            outline: none;

        }


    }

}
.form-control, .form-control:focus{
    border-radius: 2rem;
    border:none ;
    outline:none ;
    /* background:none ; */
}


.form-group{
    position: relative;

    i#eye{
        color: grey;
        font-size: 1.1rem;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
    }
    .form-inline{
        label{
            display: inline-block;
        }
    }
}

small.error{
    color:$red;
}

select.form-control{
    border:2px solid grey;
    padding: 0 1rem ;

}

select.form-control:focus{
    outline: none;
}

div.wrapper{
    height: 100%;
    z-index: -2;
}

.center {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

i{
    margin-left: 1rem;
}


input[type="checkbox"]{
    margin: 0 2rem;
    appearance: none;
    background-color: #eee;
    position: relative;
    box-shadow: inset 0 0 5px rgba(0,0,0,.3);
    width: 2.5rem;
    height: 1rem;
    border-radius: 2rem;
    transform: 0.3s;
    border:none;
    outline: none;
    &:focus{
        border:none;
        outline: none;
    }
    &::before{
        content: '';
        width: 1.5rem;
        height: 1.5rem;
        background-color: #ddd;
        box-shadow: 0 0 5px rgba(0,0,0,.3);
        border-radius: 50%;
        position: absolute;
        right: 0;
        top:50%;
        transform: translateY(-50%);
        transition: 0.3s;
    }

    &:checked{
        background-color: $blue;

        &::before{
            right: 50%;
            background-color: skyblue;
        }
    }
}
::-webkit-scrollbar{
    width : 1rem;
}
::-webkit-scrollbar-track{
    background-color: rgba($indigo,.2);
    border-radius: 1rem;
}
::-webkit-scrollbar-thumb{
    transition: all 0.3s;
    border-radius: 1rem;
    background-color: rgba($indigo,.5);
    &:hover{
        background: linear-gradient(rgba($indigo,.7),rgba($indigo,.9));
    }
}


.bg-lightgreen
{
    background-color: rgba($lightGreen, $alpha: 0.3);
}

.fixed{
    position: fixed;
}
