#preloader {
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.5);
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    p.loading-text {
        margin-top: 1rem;
        padding: 1rem;
        font-weight: bold;
        color: white;
        font-size: large;
    }
}
