.side-menu
{

    b#title{
        overflow: hidden;
    }

    #accordion {
        min-width: 100% !important;

    }
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    .top
    {
        vertical-align: top;
    }

    .navbar-collapse
    {
        flex-grow: unset;
    }

    a{
        &:hover{
            background-color: #fff;
        }

    }
    a.active{
        position: relative;
        background-color:white;
        display: block;

    }
}

@media only screen and (max-width:768px)
{
    .side-menu{
        justify-content: unset;
    }
}
